button(mat-fab, class="my-fab", (click)="createAccount()")
  mat-icon add
mat-toolbar
  mat-slide-toggle([(ngModel)]="showAllAccounts") #{__("Show all accounts")}
form([formGroup]="accountForm", (ngSubmit)="submitEditing()", autocomplete="off", novalidate)
  div(class="card-container")
    ng-container(*ngFor="let account of accountsService.accounts")
      div(*ngIf="isEditing(account)", id="accountEditor")
      mat-card(class="small-card", *ngIf="account.showInList || showAllAccounts")
        mat-card-title
          div(style="display: flex; align-items: center;")
            span(*ngIf="!isEditing(account)", style="align-self: center;") {{account.name}}
            mat-form-field(*ngIf="isEditing(account)")
              input(matInput, placeholder=__("Account name"), formControlName="name", [(ngModel)]="account.name")
            span(style="flex: 1 1 auto;")
            button(mat-icon-button, type="button", *ngIf="!isEditing(account)", [matMenuTriggerFor]="accountMenu", style="align-self: flex-start;", aria-label="#{__('Open menu')}")
              mat-icon more_vert
            mat-menu(#accountMenu="matMenu")
              button(mat-menu-item, type="button", (click)="startEditing(account)")
                mat-icon edit
                span #{__("Edit")}
              button(mat-menu-item, type="button", (click)="deleteAccount(account)")
                mat-icon delete_forever
                span #{__("Delete")}
        mat-card-content(*ngIf="isEditing(account)")
          p
            mat-select(placeholder=__("Currency"), formControlName="currency", [(ngModel)]="account.currency")
              mat-option(*ngFor="let currency of currencyService.currencies", [value]="currency.currencyCode")
                | {{currency.displayName}}
          p
            mat-slide-toggle(formControlName="includeInTotal", [(ngModel)]="account.includeInTotal") #{__("Include in total")}
          p
            mat-slide-toggle(formControlName="showInList") #{__("Show in accounts list")}
        mat-card-content
          div(style="display: flex; align-items: top;")
            span(style="display: block;") {{account.currency}}
            span(style="flex: 1 1 auto;")
            span(style="display: block;") {{account.balance | number:"1.2-2"}}
        mat-card-actions(*ngIf="isEditing(account)")
          button(mat-button, type="submit", [disabled]="!accountForm.valid") #{__('Apply')}
          button(mat-button, type="button", (click)="cancelEditing()") #{__('Cancel')}
div(class="card-container")
  ng-container(*ngFor="let currencyTotals of accountsService.getTotalsForCurrencies()")
    mat-card(class="small-card")
      mat-card-title
        | #{__('Total for {0}').replace('{0}',"{{currencyTotals.currency}}")}
      mat-card-content
        div(style="display: flex; align-items: top;")
          span(style="display: block;") {{currencyTotals.currency}}
          span(style="flex: 1 1 auto;")
          span(style="display: block;") {{currencyTotals.total | number:"1.2-2"}}
