div(class="login-container")
  md-card(style="width:400px;")
    md-card-content
      form([formGroup]="loginForm", (ngSubmit)="onSubmit()", novalidate)
        h3
          | #{__('Vogon authorization')}
        section
        p(*ngIf="isAllowRegistration()")
          md-button-toggle-group([(ngModel)]="mode")
            md-button-toggle(value="login")
              span #{__('Login')}
            md-button-toggle(value="register", )
              span #{__('Register')}
        p
          md-input-container
            input(mdInput, type="text", placeholder=__('Enter username'), formControlName="username")
          |  
          md-input-container
            input(mdInput, type="password", placeholder=__('Enter password'), formControlName="password")
        p
          md-checkbox(checked, formControlName="rememberToken") #{__('Remember me')}
        p
          button(md-raised-button, type="submit", color="primary", *ngIf="modeIsLogin()", [disabled]="!loginForm.valid") #{__('Login')}
          button(md-raised-button, type="submit", color="primary", *ngIf="modeIsRegister()", [disabled]="!loginForm.valid") #{__('Register')}
