div(class="card-container")
  mat-card(class="large-card")
    mat-card-content
      h3
        | #{__('Vogon authorization')}
      section
      p(*ngIf="isAllowRegistration()")
        mat-button-toggle-group([(ngModel)]="mode")
          mat-button-toggle(value="login")
            span #{__('Login')}
          mat-button-toggle(value="register")
            span #{__('Register')}
      form([formGroup]="loginForm", (ngSubmit)="onSubmit()", autocomplete="off", novalidate)
        p
          mat-form-field
            input(matInput, type="text", placeholder=__('Username'), formControlName="username")
          |  
          mat-form-field
            input(matInput, type="password", placeholder=__('Password'), formControlName="password")
        p
          mat-checkbox(checked, formControlName="rememberToken") #{__('Remember me')}
        p
          mat-error(*ngIf="errorMessage") {{errorMessage}}
        p
          button(mat-raised-button, type="submit", color="primary", *ngIf="modeIsLogin()", [disabled]="!loginForm.valid") #{__('Login')}
          button(mat-raised-button, type="submit", color="primary", *ngIf="modeIsRegister()", [disabled]="!loginForm.valid") #{__('Register')}
