div(class="login-container")
  md-card(style="width:400px;")
    md-card-content
      h3
        | #{__('Vogon authorization')}
      section
      p(*ngIf="isAllowRegistration()")
        md-button-toggle-group([(ngModel)]="mode")
          md-button-toggle(value="login")
            span #{__('Login')}
          md-button-toggle(value="register", )
            span #{__('Register')}
      p
        md-input-container
          input(mdInput, placeholder=__('Enter username'))
        |  
        md-input-container
          input(mdInput, type="password", placeholder=__('Enter password'))
      p
        md-checkbox(checked) #{__('Remember me')}
      p
        button(md-raised-button, color="primary", *ngIf="modeIsLogin()") #{__('Login')}
        button(md-raised-button, color="primary", *ngIf="modeIsRegister()") #{__('Register')}
