
form(#transactionForm="ngForm", (ngSubmit)="submitEditing(transactionForm)", autocomplete="off", novalidate)
  mat-card(class="editor-card-transactions mat-elevation-z4")
    mat-card-title
      | #{__('Edit transaction')}
    mat-card-content
      mat-form-field
        input(matInput, placeholder=__('Description'), name="description", [(ngModel)]="transaction.description", required)
      span &nbsp;
      mat-form-field
        input(matInput, [matDatepicker]="picker", placeholder=__("Date"), name="date", [(ngModel)]="transaction.date", required)
        mat-datepicker-toggle(matSuffix, type="button", [for]="picker")
      mat-datepicker(#picker)
      tags-input(placeholder=__("Tags"), name="tags", [ngModel]="transaction.tags")
      p
        mat-button-toggle-group(name="type", [(ngModel)]="transaction.type", required)
          mat-button-toggle(value="expenseincome")
            span #{__('Expense/income')}
          mat-button-toggle(value="transfer")
            span #{__('Transfer')}
      div(*ngFor="let component of transaction.FinanceTransactionComponents; let i=index")
        div(style="display: flex;")
          mat-form-field
            mat-select(placeholder=__("Account"), [name]="'AccountId'+i", [(ngModel)]="component.AccountId", required)
              mat-option(*ngFor="let account of visibleAccounts", [value]="account.id")
                | {{account.name}}
          span &nbsp;
          mat-form-field
            input(matInput, type="text", style="text-align:right;", placeholder=__('Amount'), [name]="'amount'+i", [(ngModel)]="component.amount", required, pattern="^-?\\d+(\\.\\d+)?$")
            span(matSuffix)
              | &nbsp;{{getCurrency(component)}}
          span(style="flex: 1 1 auto;")
          button(mat-icon-button, type="button", [matMenuTriggerFor]="componentMenu", style="align-self: flex-start;", aria-label="#{__('Open menu')}")
            mat-icon more_vert
          mat-menu(#componentMenu="matMenu")
            button(mat-menu-item, type="button", (click)="deleteTransactionComponent(i)")
              mat-icon delete_forever
              span #{__("Delete")}
      button(mat-mini-fab, type="button", (click)="addTransactionComponent()")
        mat-icon add
    mat-card-actions
      button(mat-button, type="submit", [disabled]="!transactionForm.valid") #{__('Apply')}
      button(mat-button, type="button", (click)="cancelEditing()") #{__('Cancel')}
