md-sidenav-container(fullscreen)
  md-sidenav(#sidenav, mode="side")
    md-toolbar(color="accent")
      | #{__("Signed in as %s", "User")}
    md-nav-list
      a(md-list-item, [routerLinkActive]="['mat-select-trigger']", routerLink="transactions")
        md-icon(md-list-icon) list
        | #{__('Transactions')}
      a(md-list-item, routerLink="accounts")
        md-icon(md-list-icon) account_balance_wallet
        | #{__('Accounts')}
      a(md-list-item, routerLink="analytics")
        md-icon(md-list-icon) multiline_chart
        | #{__('Analytics')}
      a(md-list-item, routerLink="usersettings")
        md-icon(md-list-icon) settings
        | #{__('User settings')}
      md-divider
      a(md-list-item,routerLink)
        md-icon(md-list-icon) exit_to_app
        | #{__('Logout')}
  md-toolbar(color="primary")
    button(md-icon-button, aria-label="#{__('Toggle sidebar')}")
      md-icon((click)="sidenav.toggle()") menu
    span
      | #{__('Vogon')}
    span(style='flex: 1 1 auto;')
    md-icon(*ngIf="isLoading()") sync
    button(md-icon-button, aria-label="#{__('Open menu')}", (click)="test()")
      md-icon more_vert
  router-outlet
