md-toolbar(color="primary", style="position: fixed; top: 0px; z-index: 1;")
  span(*ngIf="!isAuthorized()")
    | #{__('Vogon')}
  span(*ngIf="isAuthorized()")
    //TODO: provide the actual username here
    | #{__("Vogon for %s", "User")}
  span(style="width: 64px;")
  span(*ngIf="!isLoading()", style='flex: 1 1 auto;')
  md-progress-bar(*ngIf="isLoading()", mode="indeterminate", color="accent")
  span(style="width: 64px;")
  button(md-icon-button, aria-label="#{__('Toggle sidebar')}", [mdMenuTriggerFor]="navMenu")
    md-icon more_vert
  md-menu(#navMenu="mdMenu")
    ng-template([ngIf]="isAuthorized()")
      button(md-menu-item, routerLink="transactions")
        md-icon(md-list-icon) list
        | #{__('Transactions')}
      button(md-menu-item, routerLink="accounts")
        md-icon(md-list-icon) account_balance_wallet
        | #{__('Accounts')}
      button(md-menu-item, routerLink="analytics")
        md-icon(md-list-icon) multiline_chart
        | #{__('Analytics')}
      button(md-menu-item, routerLink="usersettings")
        md-icon(md-list-icon) settings
        | #{__('User settings')}
      button(md-menu-item, (click)="logout()")
        md-icon(md-list-icon) exit_to_app
        | #{__('Logout')}
    ng-template([ngIf]="!isAuthorized()")
      button(md-menu-item, routerLink="login")
        md-icon(md-list-icon) open_in_browser
        | #{__('Login')}
    button(md-menu-item, routerLink="intro")
      md-icon(md-list-icon) help
      | #{__('Help/Info')}
div(class="app-content")
  router-outlet
